block variables

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/open-sans-300.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/open-sans-400.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/open-sans-700.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='stylesheet' href='vendor/swiper/swiper.min.css')
    link(rel='stylesheet' href='css/style.css')
    if (pageClass === 'index-page')
      script(src='https://api-maps.yandex.ru/2.1/?apikey=e6c045b8-c60b-415c-82d4-b4adf6e237da&lang=ru_RU')
    title= title
  body.page__body
    include ../components/components
    .page__inner
      +main-header(class='page__main-header')
      main.page__content
        block content
      +main-footer(class='page__main-footer')
    +modal(data-modal='alert')
      +alert(class='modal__alert')
    script(src='vendor/swiper/swiper-bundle.min.js')
    script(src='vendor/pristine/pristine.min.js')
    script(src='js/main.js')
