block variables

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/open-sans-300.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/open-sans-400.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/open-sans-700.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='stylesheet' href='vendor/swiper/swiper.min.css')
    link(rel='stylesheet' href='css/style.css')
    title= title
  body.page__body
    include ../components/components
    .page__drawer
      .page__drawer-inner
        +main-header(class='page__header')
        main.page__content
          block content
        script(src='vendor/swiper/swiper-bundle.min.js')
        script(src='js/main.js')
