block variables

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/style.css')
    title= title
  body.page__body
    .drawer
      .drawer__inner
        main.page__content
          block content
