mixin alert(heading, text, buttonText)
  section.alert&attributes(attributes)
    h2.alert__heading= heading
    p.alert__text= text
    .alert__bottom
      +button('button', buttonText, 'button')(class='alert__button')
