mixin contest-form
  form.contest-form(action='https://echo.htmlacademy.ru' method='post' autocomplete='off' target='_blank')&attributes(attributes)
    +fieldset(class='contest-form__fieldset-full-name fieldset--simple')
      +textfield('Фамилия', 'surname', 'text', '', 'Укажите фамилию *', true)(class='textfield--label-position_left')
      +textfield('Имя', 'name', 'text', '', 'Введите ваше имя *', true)(class='textfield--label-position_left')
      +textfield('Отчество', 'patronymic', 'text', '', 'Ну и отчество тоже')(class='textfield--label-position_left')
    +fieldset('С каким приложением путешествовали?')(class='contest-form__fieldset-choice fieldset--radiobuttons fieldset--decorated_m')
      +checker('Pink для iOS', 'app', 'radio', 'ios', true)
      +checker('Pink на Android', 'app', 'radio', 'android')
      +checker('Windows Phone', 'app', 'radio', 'windows')
    +fieldset('Контактная информация', 'hidden hidden--m')(class='contest-form__fieldset-contacts fieldset--texts')
      +textfield('Номер телефона', 'tel', 'tel', '', 'Номер, пожалуйста')(class='textfield--with-icon--phone textfield--label-position_under')
      +textfield('Адрес почты', 'email', 'email', '', 'Введите почту *', true)(class='textfield--with-icon--mail textfield--label-position_under')
    +fieldset('Ваши безбашенные достижения в путешествии')(class='contest-form__fieldset-checklist fieldset--checkboxes fieldset--decorated_m')
      +checker('Сделал селфи с акулой', 'achievements', 'checkbox', 'selfie-with-shark', true)
      +checker('Видел Чака Норриса', 'achievements', 'checkbox', 'see-chuck-norris')
      +checker('Удержал башню', 'achievements', 'checkbox', 'tower-retention', true)
      +checker('Обгорел на пляже', 'achievements', 'checkbox', 'sunburn', true)
      +checker('Накупил сувениров', 'achievements', 'checkbox', 'souvenirs')
      +checker('Разгромил отель', 'achievements', 'checkbox', 'hotel-destruction')
    +fieldset('Опишите свои эмоции')(class='contest-form__fieldset-comment fieldset--comment')
      +textarea('Эмоции:', 'emotions', '', 'Можно прям в красках, не стесняясь в выражениях')
    .contest-form__footer
      +button('button', 'Отправить форму', 'submit')(class='contest-form__submit-button')
      p.contest-form__prompt #[b.contest-form__prompt-accent-text *] — обязательные #[span.hidden.hidden--m-t для заполнения] поля
