mixin developer
  a.developer(href='https://htmlacademy.ru/intensive/adaptive' target='_blank' rel='nofollow noopener')&attributes(attributes) Разработано
    svg.developer__logo(width='27' height='34' role='img' aria-label='Логотип HTML-академии в виде квадратной академической шапочки.' )
      use(href='img/developer-logo.svg#developer-logo')
