mixin main-footer
  footer.main-footer&attributes(attributes)
    .main-footer__container.container
      +logo('basic', 'full')(class='main-footer__logo logo--set_basic-basic-full')
      +socials(class='main-footer__socials socials--decorated')
      +developer(class='main-footer__developer')
