mixin main-header
  header.main-header&attributes(attributes)
    nav.main-header__navigation.main-header__navigation--no-js
      .main-header__inner
        +logo('short', 'basic', 'full')(class='main-header__logo logo--alter logo--set_short-basic-full')
        +burger(class='main-header__burger')
      +main-navigation(class='main-header__main-menu')
