mixin slider(slideName)
  .slider&attributes(attributes)
    block
    p.slider__pagination
    p.slider__navigation
      button.slider__navigation-button.slider__navigation-button--prev
        span.visually-hidden Предыдущий #{slideName}.
      button.slider__navigation-button.slider__navigation-button--next
        span.visually-hidden Следующий #{slideName}.
