extends layout/layout

block variables
  - var title = 'Фотографии'
  - var pageClass = 'catalog-page'

block content
  +page-header('Фотографии<br> пользователей')(class='page__header')
  +lead('Взгляните на фотографии, которые выкладывают пользователи!<br class="break break--m"> Видите, как не хватает ваших?')(class='page__lead')
  +posts
