extends layout/layout

block variables
  - var title = 'Конкурс'
  - var pageClass = 'contest-page'

block content
  +page-header('Конкурс на&nbsp;самое безбашенное путешествие с&nbsp;Пинк')(class='page__header')
  +lead('Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! <span class="hidden hidden--m">Пожалуйста, заполните форму ниже:</span>')(class='page__lead')
  +contest-form(class='page__contest-form')

prepend scripts
  script(src='vendor/pristine/pristine.min.js')
