extends layout/layout

block variables
  - var title = 'Главная'
  - var pageClass = 'index-page'

block content
  h1.visually-hidden Pink – мобильное приложение для раскрашивания серых будней в розовый цвет.
  +hero(class='page__hero')
  +features(class='features--decorated')
