extends layout/layout

block variables
  - var title = 'Главная'
  - var pageClass = 'index-page'

block content
  h1.visually-hidden Pink – мобильное приложение для раскрашивания серых будней в розовый цвет.
  +hero(class='page__hero')
  +features(class='page__features features--decorated')
  +reviews(class='page__reviews')
  +prices(class='page__prices prices--decorated')
  +contacts(class='page__contacts')
