extends layout/layout

block variables
  - var title = 'Фотографии'
  - var pageClass = 'photos-page'

block content
  +page-header('Фотографии<br> пользователей')(class='page__header')
  +lead('Взгляните на фотографии, которые выкладывают пользователи!<br class="hidden hidden--t"> Видите, как не хватает ваших?')(class='page__lead')
  +posts(class='page__posts')
  +posting(class='page__posting')
