.brands {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px 36px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.brands__logo {
  display: block;
  max-width: 48px;
  height: auto;
  transition-property: opacity, transform;
  transition-duration: $little-interaction-duration, calc($little-interaction-duration / 2);
  transition-timing-function: $little-interaction-timing-function, ease-in;
}

.brands__item {
  &--android {
    margin-top: 4px;
  }

  &--microsoft {
    margin-top: 10px;
  }
}

.brands__link {
  display: block;
  outline: 2px solid transparent;
  outline-offset: 4px;
  transition: outline-color $little-interaction-duration $little-interaction-timing-function;

  &:hover .brands__logo {
    transform: translateZ(0) translateY(-8px);
    transition-duration: $little-interaction-duration;
    transition-timing-function: $little-interaction-timing-function, ease-out;
  }

  &:active .brands__logo {
    opacity: 0.3;
    transform: translateZ(0) translateY(-8px);
    transition-duration: $little-interaction-duration;
    transition-timing-function: $little-interaction-timing-function, ease-out;
  }

  &:focus-visible {
    outline-color: var(--accent-color);
  }
}
