.link {
  color: var(--accent-color);
  outline: 2px solid transparent;
  outline-offset: 4px;
  transition:
    color $little-interaction-duration $little-interaction-timing-function,
    text-decoration-color $little-interaction-duration $little-interaction-timing-function,
    outline-color $little-interaction-duration $little-interaction-timing-function,
    opacity $little-interaction-duration $little-interaction-timing-function;

  &:hover {
    color: var(--text-color);
    text-decoration-color: currentColor;
  }

  &:active {
    color: var(--text-color);
    text-decoration-color: currentColor;
    opacity: 0.3;
  }

  &:focus-visible {
    outline-color: var(--accent-color);
  }
}

.link--alter {
  text-decoration-color: transparent;
}
