.main-header {
  color: var(--text-alter-color);
  background-color: var(--blackout);

  @media (min-width: $laptop-width) {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}

.main-header__navigation {
  @media (max-width: ($laptop-width - 1)) {
    position: relative;
  }

  @media (min-width: $laptop-width) {
    display: grid;
    width: 940px;
    margin: 0 auto;
    grid-template-columns: auto 1fr;
    column-gap: 100px;
  }
}

.main-header__inner {
  @media (max-width: ($laptop-width - 1)) {
    display: flex;
    padding: 28px 20px 42px;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (max-width: ($tablet-width - 1)) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.main-header__logo {
  position: relative;
  z-index: 1;
  width: 74px;

  @media (min-width: $tablet-width) {
    width: 145px;
  }

  @media (min-width: $laptop-width) {
    width: 147px;
  }
}

.main-header__burger {
  display: none;
}

.main-header__main-menu {
  margin: 0;
}

.main-header__navigation--js {
  @media (max-width: ($laptop-width - 1)) {
    .main-header__burger {
      position: relative;
      z-index: 1;
      display: block;
      width: 48px;
      height: 24px;
    }

    .main-header__main-menu {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      transform: translateY(calc(-100% - var(--main-header-offset-height)));
      visibility: hidden;

      &--animated {
        transition:
          transform $main-header-navigation-animation-duration ease-in-out,
          visibility $main-header-navigation-animation-duration ease-in-out;
      }
    }

    &.main-header__navigation--open {
      .main-header__main-menu {
        transform: none;
        visibility: visible;
      }
    }
  }
}
