.page-header {
  box-sizing: border-box;
  min-height: 235px;
  padding-top: calc(var(--main-header-offset-height) + 28px);
  padding-bottom: 44px;
  text-align: center;
  color: var(--text-alter-color);
  background-color: var(--background-alter-color);
  background-position: center;
  background-size: cover;

  @media (max-width: 320px) {
    @include background-image-set(
      "../img/page-header/page-header-bg" "jpg" 1,
      "../img/page-header/page-header-bg" "jpg" 2,
      "../img/page-header/page-header-bg" "webp" 1,
      "../img/page-header/page-header-bg" "webp" 2,
    );
  }

  @media (min-width: 321px) and (max-width: 420px) {
    @include background-image-set(
      "../img/page-header/page-header-bg-wide-mobile" "jpg" 1,
      "../img/page-header/page-header-bg-wide-mobile" "jpg" 2,
      "../img/page-header/page-header-bg-wide-mobile" "webp" 1,
      "../img/page-header/page-header-bg-wide-mobile" "webp" 2,
    );
  }

  @media (min-width: 421px) and (max-width: 660px) {
    @include background-image-set(
      "../img/page-header/page-header-bg-tablet" "jpg" 1,
      "../img/page-header/page-header-bg-tablet" "jpg" 2,
      "../img/page-header/page-header-bg-tablet" "webp" 1,
      "../img/page-header/page-header-bg-tablet" "webp" 2,
    );
  }

  @media (min-width: 661px) and (max-width: 1000px) {
    @include background-image-set(
      "../img/page-header/page-header-bg-wide-tablet" "jpg" 1,
      "../img/page-header/page-header-bg-wide-tablet" "jpg" 2,
      "../img/page-header/page-header-bg-wide-tablet" "webp" 1,
      "../img/page-header/page-header-bg-wide-tablet" "webp" 2,
    );
  }

  @media (min-width: 1001px) and (max-width: 1440px) {
    @include background-image-set(
      "../img/page-header/page-header-bg-desktop" "jpg" 1,
      "../img/page-header/page-header-bg-desktop" "jpg" 2,
      "../img/page-header/page-header-bg-desktop" "webp" 1,
      "../img/page-header/page-header-bg-desktop" "webp" 2,
    );
  }

  @media (min-width: 1441px) {
    @include background-image-set(
      "../img/page-header/page-header-bg-wide-desktop" "jpg" 1,
      "../img/page-header/page-header-bg-wide-desktop" "jpg" 2,
      "../img/page-header/page-header-bg-wide-desktop" "webp" 1,
      "../img/page-header/page-header-bg-wide-desktop" "webp" 2,
    );
  }

  @media (min-width: $tablet-width) {
    min-height: 442px;
    padding-top: calc(var(--main-header-offset-height) + 68px);
    padding-bottom: 60px;
  }

  @media (min-width: $laptop-width) {
    min-height: 394px;
    padding-top: calc(var(--main-header-offset-height) + 60px);
    padding-bottom: 88px;
  }
}

.page-header__heading {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
