.page-header {
  box-sizing: border-box;
  min-height: 235px;
  padding-top: calc(var(--main-header-offset-height) + 28px);
  padding-bottom: 44px;
  text-align: center;
  color: var(--text-alter-color);
  background-color: var(--background-alter-color);
  background-position: center;
  background-size: cover;

  // Изображения для экраной с шириной вьюпорта равной 320px
  @media (max-width: 320px) {
    background-image: image-set(
      url("../img/page-header/page-header-bg.jpg") 1x,
      url("../img/page-header/page-header-bg@2x.jpg") 2x
    );

    @supports (background-image: url("image.webp")) {
      background-image: image-set(
        url("../img/page-header/page-header-bg.webp") 1x,
        url("../img/page-header/page-header-bg@2x.webp") 2x
      );
    }
  }

  // Изображения для экраной с шириной вьюпорта от 321px до 420px включительно
  @media (min-width: 321px) and (max-width: 420px) {
    background-image: image-set(
      url("../img/page-header/page-header-bg-wide-mobile.jpg") 1x,
      url("../img/page-header/page-header-bg-wide-mobile@2x.jpg") 2x
    );

    @supports (background-image: url("image.webp")) {
      background-image: image-set(
        url("../img/page-header/page-header-bg-wide-mobile.webp") 1x,
        url("../img/page-header/page-header-bg-wide-mobile@2x.webp") 2x
      );
    }
  }

  // Изображения для экраной с шириной вьюпорта от 421px до 660px включительно
  @media (min-width: 421px) and (max-width: 660px) {
    background-image: image-set(
      url("../img/page-header/page-header-bg-tablet.jpg") 1x,
      url("../img/page-header/page-header-bg-tablet@2x.jpg") 2x
    );

    @supports (background-image: url("image.webp")) {
      background-image: image-set(
        url("../img/page-header/page-header-bg-tablet.webp") 1x,
        url("../img/page-header/page-header-bg-tablet@2x.webp") 2x
      );
    }
  }

  // Изображения для экраной с шириной вьюпорта от 661px до 1000px включительно
  @media (min-width: 661px) and (max-width: 1000px) {
    background-image: image-set(
      url("../img/page-header/page-header-bg-wide-tablet.jpg") 1x,
      url("../img/page-header/page-header-bg-wide-tablet@2x.jpg") 2x
    );

    @supports (background-image: url("image.webp")) {
      background-image: image-set(
        url("../img/page-header/page-header-bg-wide-tablet.webp") 1x,
        url("../img/page-header/page-header-bg-wide-tablet@2x.webp") 2x
      );
    }
  }

  // Изображения для экраной с шириной вьюпорта от 1001px до 1440px включительно
  @media (min-width: 1001px) and (max-width: 1440px) {
    background-image: image-set(
      url("../img/page-header/page-header-bg-desktop.jpg") 1x,
      url("../img/page-header/page-header-bg-desktop@2x.jpg") 2x
    );

    @supports (background-image: url("image.webp")) {
      background-image: image-set(
        url("../img/page-header/page-header-bg-desktop.webp") 1x,
        url("../img/page-header/page-header-bg-desktop@2x.webp") 2x
      );
    }
  }

  // Изображения для экраной с шириной вьюпорта от 1441px
  @media (min-width: 1441px) {
    background-image: image-set(
      url("../img/page-header/page-header-bg-wide-desktop.jpg") 1x,
      url("../img/page-header/page-header-bg-wide-desktop@2x.jpg") 2x
    );

    @supports (background-image: url("image.webp")) {
      background-image: image-set(
        url("../img/page-header/page-header-bg-wide-desktop.webp") 1x,
        url("../img/page-header/page-header-bg-wide-desktop@2x.webp") 2x
      );
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 442px;
    padding-top: calc(var(--main-header-offset-height) + 68px);
    padding-bottom: 60px;
  }

  @media (min-width: $laptop-width) {
    min-height: 394px;
    padding-top: calc(var(--main-header-offset-height) + 60px);
    padding-bottom: 88px;
  }
}

.page-header__heading {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
