@keyframes button-spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes clench-unclench {
  50% {
    transform: scaleX(0);
  }
}

@keyframes flash {
  0% {
    filter: drop-shadow(0 0 0 var(--accent-color));
  }

  75% {
    filter: drop-shadow(0 0 36px var(--accent-color));
  }

  100% {
    filter: drop-shadow(0 0 48px transparent);
  }
}
