// Viewports

$tablet-width: 660px;
$desktop-width: 980px;

// Timings

$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
$main-header-navigation-opening-duration: 300ms;
