// Viewports

$tablet-width: 660px;
$laptop-width: 1000px;

// Indents

$page-side-padding: 20px;
$centerer-max-width: 940px;

// Timings

$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
$main-header-navigation-animation-duration: 300ms;
