/*
 * --m-t – отображать только на мобильной (m) и планшетной (t) ширине
 * --l   – отображать только на лэптопной (l) ширине
 * и так далее.
 */

.break {
  &--m {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--m-t {
    @media (min-width: $laptop-width) {
      display: none;
    }
  }

  &--l {
    @media (max-width: ($laptop-width - 1)) {
      display: none;
    }
  }
}
