/*
 * Модификатор обозначает на какой ширине происходит скрытие:
 * --m   – скрывать только на мобильной (m) ширине
 * --m-t – скрывать только на мобильной (m) и планшетной (t) ширине
 * --t-l - скрывать только на планшетной (t) и лэптопной (l) ширине
 * --t-l - скрывать только на лэптопной (l) ширине
 */

.hidden {
  &--m {
    @media (max-width: ($tablet-width - 1)) {
      display: none;
    }
  }

  &--m-t {
    @media (max-width: ($laptop-width - 1)) {
      display: none;
    }
  }

  &--t-l {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--l {
    @media (min-width: $laptop-width) {
      display: none;
    }
  }
}
