-
  var posts = [
    {
      author: 'Анна',
      text: 'Прыгать или нет? Напишите в комментарии свой совет и смотрите прямую трансляцию в перископе, задавайте свои вопросы!',
      date: '5 минут назад',
      likes: 215,
      panorama: true,

      image: 'panorama-1.jpg',
      image2x: 'panorama-1@2x.jpg',
      imageWebp: 'panorama-1.webp',
      imageWebp2x: 'panorama-1@2x.webp',

      imageTablet: 'panorama-1-tablet.jpg',
      imageTablet2x: 'panorama-1-tablet@2x.jpg',
      imageTabletWebp: 'panorama-1-tablet.webp',
      imageTabletWebp2x: 'panorama-1-tablet@2x.webp',

      imageLaptop: 'panorama-1-laptop.jpg',
      imageLaptop2x: 'panorama-1-laptop@2x.jpg',
      imageLaptopWebp: 'panorama-1-laptop.webp',
      imageLaptopWebp2x: 'panorama-1-laptop@2x.webp',

      imageDescription: 'Лес и река: вид сверху, с моста.',
      link: '#!'
    },
    {
      author: 'Левон',
      text: 'Вчера он на луну летал, сегодня в руки к нам попал.',
      date: '5 часов назад',
      likes: 356,

      image: 'photo-1.jpg',
      image2x: 'photo-1@2x.jpg',
      imageWebp: 'photo-1.webp',
      imageWebp2x: 'photo-1@2x.webp',

      imageTablet: 'photo-1-tablet.jpg',
      imageTablet2x: 'photo-1-tablet@2x.jpg',
      imageTabletWebp: 'photo-1-tablet.webp',
      imageTabletWebp2x: 'photo-1-tablet@2x.webp',

      imageDescription: 'Белый автомобиль перед камерой, установленной на штативе.',
      link: '#!'
    },
    {
      author: 'Антон',
      text: 'Соседи будут рады!',
      date: '12 часов назад',
      likes: 666,

      image: 'photo-2.jpg',
      image2x: 'photo-2@2x.jpg',
      imageWebp: 'photo-2.webp',
      imageWebp2x: 'photo-2@2x.webp',

      imageTablet: 'photo-2-tablet.jpg',
      imageTablet2x: 'photo-2-tablet@2x.jpg',
      imageTabletWebp: 'photo-2-tablet.webp',
      imageTabletWebp2x: 'photo-2-tablet@2x.webp',

      imageDescription: 'Ударная установка (музыкальная).',
      link: '#!'
    },
    {
      author: 'Борис',
      text: 'Здесь могла быть ваша цитата о высоком и вечном.',
      date: '20 часов назад',
      likes: 215,

      image: 'photo-3.jpg',
      image2x: 'photo-3@2x.jpg',
      imageWebp: 'photo-3.webp',
      imageWebp2x: 'photo-3@2x.webp',

      imageTablet: 'photo-3-tablet.jpg',
      imageTablet2x: 'photo-3-tablet@2x.jpg',
      imageTabletWebp: 'photo-3-tablet.webp',
      imageTabletWebp2x: 'photo-3-tablet@2x.webp',

      imageDescription: 'Вид на небо через окна в потолке.',
      link: '#!'
    },
    {
      author: 'Сергей',
      text: 'Самая кубанская в мире!',
      date: '25 часов назад',
      likes: 4,

      image: 'photo-4.jpg',
      image2x: 'photo-4@2x.jpg',
      imageWebp: 'photo-4.webp',
      imageWebp2x: 'photo-4@2x.webp',

      imageTablet: 'photo-4-tablet.jpg',
      imageTablet2x: 'photo-4-tablet@2x.jpg',
      imageTabletWebp: 'photo-4-tablet.webp',
      imageTabletWebp2x: 'photo-4-tablet@2x.webp',

      imageDescription: 'Прилавки с арбузами, дынями и тыквами под навесом, украшенной лентой с надписью «Кубанская бахча».',
      link: '#!'
    },
    {
      author: 'Максим',
      text: 'Где снег-то?',
      date: '40 часов назад',
      likes: 150,

      image: 'photo-5.jpg',
      image2x: 'photo-5@2x.jpg',
      imageWebp: 'photo-5.webp',
      imageWebp2x: 'photo-5@2x.webp',

      imageTablet: 'photo-5-tablet.jpg',
      imageTablet2x: 'photo-5-tablet@2x.jpg',
      imageTabletWebp: 'photo-5-tablet.webp',
      imageTabletWebp2x: 'photo-5-tablet@2x.webp',

      imageDescription: 'Человек сидящий в горах.',
      link: '#!'
    },
    {
      author: 'Лариса',
      text: 'Всем GM и взаимные лайки!',
      date: '45 часов назад',
      likes: 2560,

      image: 'photo-6.jpg',
      image2x: 'photo-6@2x.jpg',
      imageWebp: 'photo-6.webp',
      imageWebp2x: 'photo-6@2x.webp',

      imageTablet: 'photo-6-tablet.jpg',
      imageTablet2x: 'photo-6-tablet@2x.jpg',
      imageTabletWebp: 'photo-6-tablet.webp',
      imageTabletWebp2x: 'photo-6-tablet@2x.webp',

      imageDescription: 'Рассвет. Фото из иллюминатора.',
      link: '#!'
    },
  ]
