-
  var reviews = [
    {
      author: 'Николай Петров',
      info: '25 лет, водитель трамвая',
      text: '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
    },
    {
      author: 'Анна Кузнецова',
      info: '30 лет, менеджер по продажам',
      text: '«Я обожаю это приложение! Оно помогает мне сохранять позитивное настроение и делиться своими эмоциями с друзьями. Спасибо, Pink!»'
    },
    {
      author: 'Михаил Иванов',
      info: '22 года, студент',
      text: '«Pink - это лучшее приложение для тех, кто хочет поднять себе настроение и получить заряд позитивной энергии. Я рекомендую его всем своим друзьям!»'
    },
    {
      author: 'Екатерина Смирнова',
      info: '27 лет, фотограф',
      text: '«Pink - это не просто приложение, это настоящий источник вдохновения и творческих идей. Я использую его каждый день и никогда не устаю открывать для себя что-то новое!»'
    },
    {
      author: 'Александр Петров',
      info: '35 лет, бизнесмен',
      text: '«Pink - это то, что нужно каждому человеку, который хочет жить ярко и наслаждаться каждым моментом жизни. Я благодарен создателям этого приложения за то, что они помогают мне быть счастливым!»'
    },
  ]
